.createLists {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5px;
	padding: 10px 5px;
	text-align: center;
	> label,
	input {
		font-size: 1.2rem;
		font-weight: bold;
		text-align: center;
		width: 100%;
		color: $tertiary-color-light;
		&:focus {
			background: $quaternary-color-light;
			outline: none;
			color: black;
			font-weight: bold;
		}
	}
}
