h2 {
	color: $tertiary-color-light;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	font-size: 24px;
	font-weight: bold;
}

.faq {
	text-decoration: none;
	color: $quaternary-color-light;
	font-size: 0.9rem;
}
