.shortName {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 10px;
	font-size: 1.1rem;
	font-weight: bold;

	> button {
		@include button-add();
	}
	> input {
		text-align: center;
	}
	> input:focus {
		background-color: $quaternary-color-light;
		color: black;
		outline: none;
	}
}
