body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 100vh;
  background-color: #353535;
  color: #fbed85;
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background: #69e4fc;
}
body::-webkit-scrollbar-thumb {
  background: black;
  -webkit-transition: background 400ms, ease-in-out;
  transition: background 400ms, ease-in-out;
}
body::-webkit-scrollbar-thumb:hover {
  background: #025464;
}

button {
  background: #f8de22;
  color: #900c3f;
  width: 150px;
  font-weight: bold;
  border: none;
  border-radius: 22px;
  padding: 5px 20px;
  transform: scale(1);
  transition: background 300ms, transform 500ms, color 700ms;
}
button:hover {
  background: #f94c10;
  color: #f8de22;
  transform: scale(1.1);
  cursor: pointer;
}

h2 {
  color: #fbed85;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 24px;
  font-weight: bold;
}

.faq {
  text-decoration: none;
  color: #69e4fc;
  font-size: 0.9rem;
}

.createLists {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 10px 5px;
  text-align: center;
}
.createLists > label,
.createLists input {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
  color: #fbed85;
}
.createLists > label:focus,
.createLists input:focus {
  background: #69e4fc;
  outline: none;
  color: black;
  font-weight: bold;
}

.playlistSelect {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px 5px;
  width: 200px;
}
.playlistSelect > label {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
}
.playlistSelect > select {
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
}
.playlistSelect > button {
  background: #900c3f;
  color: white;
  transform: scale(1);
  transition: background 300ms, transform 500ms;
}
.playlistSelect > button:hover {
  background: #ec1669;
  transform: scale(1.1);
  color: black;
}

.shortName {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 1.1rem;
  font-weight: bold;
}
.shortName > button {
  background: #025464;
  color: white;
  transform: scale(1);
  transition: background 300ms, transform 500ms;
}
.shortName > button:hover {
  background: #69e4fc;
  transform: scale(1.1);
  color: black;
}
.shortName > input {
  text-align: center;
}
.shortName > input:focus {
  background-color: #69e4fc;
  color: black;
  outline: none;
}

#shortsList {
  display: flex;
  width: 250px;
}
#shortsList > ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}
#shortsList > ul > li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}
#shortsList > ul > li > a {
  text-decoration: none;
  color: #f8de22;
  font-size: 14px;
  font-weight: bold;
}
#shortsList > ul > li > button {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background: #900c3f;
  color: white;
  transform: scale(1);
  transition: background 300ms, transform 500ms;
}
#shortsList > ul > li > button:hover {
  background: #ec1669;
  transform: scale(1.1);
  color: black;
}/*# sourceMappingURL=popup.css.map */